@page
@model ProjectX.Web.Pages.Master.IndexModel
@{
}

<h1>Masters</h1>

<table class="table table-hover">
    <thead>
        <tr>
            <th scope="col">Имя</th>
            <th scope="col">Отчество</th>
            <th scope="col">Фамилия</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var master in Model.Masters)
        {
            <tr>
                <td>@master.Name</td>
                <td>@master.MiddleName</td>
                <td>@master.Surname</td>
            </tr>
        }
    </tbody>
</table>

<b>@Model.Master.Name</b>
