@page
@model IndexModel
@{
    ViewData["Title"] = "Master page";
}

<div class="container">
    <div class="row aligh-items-center">
        <div class="col-8">Тут будет календарик :)</div>
        <div class="col-2">
            <button type="button" class="btn btn-info">
                <p>
                    <a asp-page="TemplateScheduleDay/Index">Создать шаблон расписания</a>
                </p>
            </button>
        </div>
    </div>
</div>
